.bg-img1 {
  background-image: url("./principal.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.bg-img2 {
  background-image: url("./principal2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.bg-img3 {
  background-image: url("./principal3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
