.imagen {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
}
.titulo{
  text-transform: uppercase;
  padding-bottom: 05px;
  font-size: 20px;
  letter-spacing: 1.75px;
  font-weight: bold;
  margin: 0;
}
.texto{
  padding-bottom: 10px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.link{
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  float: "left";
  border: 1px solid rgba(111, 111, 111, 0.15);
  border-radius: 10px;
}
.link:hover{
  text-decoration: none;
  color: inherit;
  transform: scale(1.025);
  transition: transform 0.2s;
}
.cardCustom{
  width: 100%;
}

.link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(131, 131, 131, 0.15);
  border-radius: 10px;
  z-index: 1;
  width:100%
}

.precio {
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
}
