.navigator {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}


@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .res-lg {
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .res-xl {
    height: 100px;
  }
}
