.container{
  background-color: rgb(251, 190, 0);
  min-height: calc(100vh - 100px);
}
.productContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.productInfoContainer{
  display: flex;  
}
.productImg{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.productText{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.productButtons{
  padding-right: 10px;
}

.cartButtons{
  display: flex;
  justify-content: space-evenly;
  
}

.ticketContainer{
  margin: 10px;
  padding: 10px 40px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}