.footer {
  background-color: #000;
  color: #fff;
}

.footer .icon-hamburger {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url("ruta/a/icono/hamburguesa.png");
}

.footer p {
  margin-top: 3rem;
  margin-bottom: 0;
}

.footer .icon-pedidosya {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("ruta/a/icono/pedidosya.png");
}

.footer .icon-instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("ruta/a/icono/instagram.png");
}

.footer .icon-facebook {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("ruta/a/icono/facebook.png");
}