

.buttn {
  height: 2rem;
  line-height: 0.5rem;
  width: fit-content;
  text-align: center;
  font-size: 20px;
  font-weight:lighter;
  border: none;
  background-color: #2b2f31;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  color: #fbbe00;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

.buttn:hover{
  background-color: #670000;
}